.filter {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 44px;
  justify-content: space-between;

  &__text {
    color: #c5c5c5;
  }

  &__favorites {
    color: rgba(244, 55, 53, 0.7);
    border: none;
    font-size: 1.5rem;
    padding-left: 47px;
    background: url("./icon_Heart_favorite.svg") no-repeat left;
  }
}
