.footer {
  display: flex;
  align-items: center;
  background-color: #202020;
  padding: 2rem 1rem;
  box-sizing: border-box;
  @media (min-width: 1025px) {
    padding: 2rem 0;
  }

  &__container {
    display: flex;
    margin: 0 auto;
    max-width: 1197px;
    width: 100%;
    justify-content: flex-start;
    background: transparent;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    @media (min-width: 1025px) {
      max-width: 1197px;
      padding: 0;
      flex-direction: row;
      justify-content: space-between;
      gap: none;
    }
  }

  &__text {
    font-size: 1.25rem;
    color: #ffffff;
    background-color: transparent;
  }

  &__link {
    color: #999999;
    background-color: transparent;
  }
}
